<!-- <div action="#" >
    <div class="container">
      <h1>Sign Up</h1>
      <p>By completing this form, you'll be one step closer to a personalized experience!</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" id = "email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id = "psw" required>

      <label for="psw"><b>Repeat Password</b></label>
      <input type="password" placeholder="Confirm Password" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <div class="form-group">
        <a href = "#" routerLinkActive = "/HomeLayoutComponent">
          <button type="button" class="cancelbtn">Cancel</button>
        </a>

        <button class="signupbtn" name ="register" id = "signupbtn"  >Sign Up</button>
      </div>
    </div>
  </div> -->
  <div action="#" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <p>By completing this form, you'll be one step closer to a personalized experience!</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" id="email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="psw" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Confirm Password" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>



      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit"  id="signupbtn" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </div>

  
 