<div class = "d-flex flex-column justify-content-center w-100 h-150 cool" >
  
<h2 style="text-align: center;">Enter your recipe details!</h2><br>
    <form id = "method" #postForm = "ngForm" (ngSubmit) = "addRecipe(postForm.value, postForm)" class = "design" ngNativeValidate >

  <label for="fname">Recipe name:</label><br>
  <input type="text" ngModel minlength="5" ngModel maxlength="30" id="fname" ngModel name = "recipeName" ngModel required><br>

  <label for="lname">Recipe photo:</label><br>
  <input type="text" id="lname"  ngModel name="recipePicture"ngModel required ><br><br>

  <label for="short">Short Description:</label><br>
  <input  type = "text" id="short" ngModel name = "desc"ngModel required><br><br>


  <label for = "steps">Recipe steps:</label><br>
  <textarea style = "resize: none;"id = "steps" ngModel name = "steps" rows = "2" cols = "30"ngModel required>
  </textarea> <br>

  <label for = "ingred">Ingredients:</label><br>
  <textarea style = "resize: none;" ngModel name = "ingredients" id = "ingred" name = "steps" rows = "2" cols = "30"ngModel required >
  </textarea> <br>


  
  <label  for="style">Cuisine:<br></label><br>
  <select class = "custom-select" id= "style" ngModel name = "style"required>
    <option  value = "American">American</option>
    <option  value = "Korean">Korean</option>
    <option  value = "Mexican">Mexican</option>
    <option  value = "Chinese">Chinese</option>
    <option  value = "Indian">Indian</option>
  </select> <br>

  <label for="type">Meal:</label><br>
  <select id= "type" class = "custom-select" ngModel name = "category"required>
    <option  value = "Breakfast">Breakfast</option>
    <option  value = "Lunch">Lunch</option>
    <option  value = "Dinner">Dinner</option>
    <option  value = "Dessert">Dessert</option>
  </select><br>
  

<br>


<input type="submit" class="btn btn-primary" id="testing" name = "Upload"  ngNativeValidate>

&nbsp;&nbsp;&nbsp;
<button type="submit" required class="btn btn-danger"><a  style="color: white; text-decoration: none;" routerLink = "">
  CANCEL
</a></button>

  
</form>
</div>


