<nav class="navbar bg-white">
  <div class="container-fluid">
    <div class = "d-flex mb-3">
      <div class = "p-2 me-5">
    <li class="nav-item dropdown" style="list-style: none;">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        RECIPES
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Breakfast</a></li>
        <li><a class="dropdown-item" href="#">Lunch</a></li>
        
        <li><a class="dropdown-item" href="#">Dinner</a></li>
        <li><a class="dropdown-item" href="#">Dessert</a></li>
      </ul>
    </li>
      </div>
      <div class = "p-2 me-5">
    <li class="nav-item dropdown" style="list-style: none;">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        INGREDIENTS
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" routerLink = "/BeefRecipesComponent">BEEF</a></li>
        <li><a class="dropdown-item" href="#">POULTRY</a></li>
       
        <li><a class="dropdown-item" href="#">SEAFOOD</a></li>
        <li><a class="dropdown-item" href="#">DAIRY</a></li>
      </ul>
    </li>
      </div>
      <div class = "p-2 me-5">
   
    </div>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search for recipes" aria-label="Search">
      
    </form>
  </div>
</nav>