 input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .all-recipes {
    color: #0d10d6;
    font-size:20px;
    
    background-color: #0d10d6;
    
    width: 9.5rem;
    position:absolute;
    left: 32.5rem; 
    top: 0.75rem;
    
  }

  .zoom {
    text-decoration: none;
    font-weight: 500;
    color: #0d10d6;
  }


 

