<nav class="navbar bg-warning">
  <div class="container-fluid">
    <div class = "d-flex mb-3">
      <div class = "p-2 me-5">
    <ul>
    <li class="nav-item dropdown " style="list-style: none;font-weight: 500; color:#0d10d6">
      <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Meals
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item active"  routerLink="/BreakfastRecipes">Breakfast</a></li>
        <li><a class="dropdown-item "  routerLink="/LunchRecipes">Lunch</a></li>
        
        <li><a class="dropdown-item"  routerLink="/DinnerRecipes">Dinner</a></li>
        <li><a class="dropdown-item"  routerLink="/DessertRecipes">Dessert</a></li>
      </ul>
    </li>
    </ul>
      </div>
      <div class = "p-2 me-5">
        <ul>
    <li class="nav-item dropdown" style="list-style: none; font-weight: 500; color:#0d10d6">
      <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Cuisines
      </a>
      <div class="dropdown-menu dropdown-menu-dark">
        <a class="dropdown-item active"  routerLink = "/AmericanRecipes">American</a>
        <a class="dropdown-item"   routerLink = "/MexicanRecipes">Mexican</a>
        <li><a class="dropdown-item " routerLink = "/ChineseRecipes">Chinese</a></li>
        <li><a class="dropdown-item "  routerLink="/KoreanRecipes">Korean</a></li>
        <li><a class="dropdown-item "  routerLink="/IndianRecipes">Indian</a></li>
      </div>
      
    </li>
        </ul>

    
    
      </div>
      <div class = "p-2 me-5">
        <ul>
      <li class="nav-item dropdown" style="list-style: none; font-weight: 500; color:#0d10d6">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ingredients
        </a>
        <div class="dropdown-menu dropdown-menu-dark">
          <a class="dropdown-item active"  routerLink = "/Beef">Beef</a>
          <a class="dropdown-item"  routerLink = "/Chicken">Chicken</a>
          <li><a class="dropdown-item "  routerLink = "/Seafood">Seafood</a></li>
          <li><a class="dropdown-item "  routerLink="/Pasta">Pasta</a></li>
          <li><a class="dropdown-item "  routerLink="/Fruits">Fruits/Vegetables</a></li>
        </div>
        
      </li>
        </ul>
      </div>
      
      <div class = "p-2 me-5">
        <a routerLink = "/Quick" class = "zoom">
          Quick & Ready
        </a>
      </div>
      
      <div class = "p-2">
        <a routerLink = "/SavedRecipes" class = "zoom">
          My saved recipes
        </a>
      </div>
      
   
    </div>
    
    </div>
    
  
</nav>