<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Footer -->
<body class="d-flex flex-column min-vh-100">
<nav class="navbar-fixed-bottom; text-center text-lg-start text-muted; mt-auto" style="background-color: #4e4e4e;">
    
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset" style="padding-right:100px">
          
        </a>
        <a href="" class="me-4 text-reset">
          
        </a>
        <a href="" class="me-4 text-reset">
          
        </a>
        <a href="" class="me-4 text-reset">
          
        </a>
        <a href="" class="me-4 text-reset">
          
        </a>
        <a href="" class="me-4 text-reset">
          
        </a>
      </div>
      <!-- Right -->
    
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text fw-bold mb-4" style="color: #f6f7f8;  font-size:medium">
                Helpful Links
              </h6>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9; font-size:small">History</a>
              </p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Preferences</a>
              </p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Upload a Recipe</a>
              </p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Get Support</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text fw-bold mb-4" style="color: #f6f7f8;  font-size:medium">
              About
            </h6>
            <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9; font-size:small">About</a>
              </p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Press</a>
              </p>
              <p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9; font-size:small">Contact Us</a>
              </p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Terms & Privacy</a>
              </p>
              <p>
                <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Accessibility Statement</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text fw-bold mb-4" style="color: #f6f7f8;  font-size:medium">
                Explore
              </h6>
              <p>
                  <a href="#!" class="nav-link" style="color: #c6c7c9; font-size:small">Popular Uploads</a>
                </p>
                <p>
                  <a href="#!" class="nav-link" style="color: #c6c7c9;  font-size:small">Signature Cooks</a>
                </p>
                <p>
                  <a href="#!" class="nav-link" style="color: #c6c7c9; font-size:small">Breakfast</a>
                </p>
                <p>
