<form action="action_page.php" method="post" style = "size: 3rem;">
  <div class="imgcontainer">
    <img src="/assets/image/recipelogo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">
      <a href = "#" routerLinkActive = "/HomeLayoutComponent" style = "text-decoration: none; color: white;">Cancel</a>
    </button>
    <p class="psw" style = "text-align: center;">Forgot <a href="#">password?</a><p></p>
    <span class = "psw justify-content-center">Don't have an account? <a href = "#" routerLink="/UserSignComponent">Sign up!</a></span>
    
  </div>
</form>
 
