<div class = "container mountaineer">
   <div class="wrapper WVU h-200 w-150" style = "margin: 0 auto; background-color: rgb(248, 206, 19);">
       
       <div class="form-container" style = "text-align: center; margin: auto;"> 
           <h2 style = "color: #0a0db9;">WVU Recipes!</h2>
          <div class="form-inner" >
             <form action="#" class="login">
                <div class="field">
                   <input type="email" id = "email"placeholder="Email Address" required>
                </div>
                <div class="field">
                   <input type="password" id = "password"placeholder="Password" required>
                </div>
                <div class="pass-link">
                   <a href="#">Forgot password?</a>
                </div>
                <div class="field btn">
                   <div class="btn-layer"></div>
                   <input type="submit" value="Login" onclick="onSubmit()">
                </div>
                <div class="signup-link">
                   Not a member? <a routerLink = "">Signup now</a>
                </div>
             </form>
             <form action="#" class="signup">
                <div class="field">
                   <input type="text" placeholder="Email Address" required>
                </div>
                <div class="field">
                   <input type="password" placeholder="Password" required>
                </div>
                <div class="field">
                   <input type="password" placeholder="Confirm password" required>
                </div>
                <div class="field btn">
                   <div class="btn-layer"></div>
                   <input type="submit" value="Signup">
                </div>
             </form>
          </div>
       </div>
    </div>
   </div>