
<div class = "mountaineer">
   <div class="wrapper WVU h-200 w-150" >
       <div class="form-container" style = "text-align: center; "> 
           <h2 style = "color: #0a0db9;">WVU Recipes!</h2>
          <div class="form-inner" >
             <form #authForm = "ngForm" (ngSubmit) = "onSubmit(authForm)">
                <div class="field">
                   <input type="email" ngModel name = "email" id = "email"placeholder="Email Address" required >
                </div>
                <div class="field">
                   <input type="password" ngModel name = "password" id = "password"placeholder="Password" required>
                </div>
                <div class="pass-link" style = "color: yellow;">
                   <a routerLink = "/Recover">Forgot password?</a>
                </div>
                <div class="field btn">
                   <div class="btn-layer"></div>
                   <input id = "theLogin"type="submit" value="Login">
                </div>
                <div class="signup-link">
                   Not a member? <a routerLink = "/SignUp">Signup now</a>
                </div>
             </form>
          </div>
       </div>
    </div>
   </div>

