<nav class="navbar bg-warning py-3">
    
    <div class="container-fluid">
        
        <div class = "d-flex justify-content-center">
        
        <a class = "nav-item" routerLink = "/InspectRecipes" style="color: white; ">
            <button type="button" onclick = "validate()" style = "margin-right:.75rem" class="btn edit">Recipe inbox</button>
            </a>

        <a href = "#" routerLink="/Mod" style = "text-shadow: 2rem;">
          <h1 style="text-align: center;  color:#0a0db9;position:absolute;left: 32.5rem; top: 0.75rem; font-style: italic;">WVU Recipes</h1>
        </a>
        
      </div>
   
      <div class = "d-flex justify-content-evenly">
       
       

        <div class = "p-0" style = "margin-right: 1.25rem">
        <a class = "nav-item" routerLink = "/AddRecipeComponent" style="color: white; ">
          <button type="button" onclick = "validate()" style = "margin-right:.75rem" class="btn edit">Submit Recipe</button>
          </a>
        </div>
        <app-modal></app-modal>

        <a class = "nav-item logo"  routerLink = "/" (click) = "redirect()"> Logout
          <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          </a>
        </div>

    </div>
    
  </nav>
