
  <!-- As a heading -->
  <nav class="navbar bg-white">
    
    <div class="container-fluid">
      <a href = "#" routerLinkActive = "/HomeLayoutComponent" >
        <img src="/assets/image/recipelogo.png" height="55" width = "50" alt="" loading="lazy" />
      </a>
        
        <div class = "d-flex justify-content-center">
            
        <h1 style="text-align: center;">Group-6 Recipes</h1>
      </div>
   
      <div class = "d-flex align-items-end" style="padding-right: -11rem">
       
        <a class = "nav-item" href = "#" routerLink = "/AddRecipeComponent" style="color: black; margin-right: 2rem">
          <button type="button" class="btn btn-primary">UPLOAD RECIPE</button>
          </a>

        <a class = "nav-item" href = "#" routerLink = "/UserLoginComponent" style="color: black;">
          <button type="button" class="btn btn-primary">LOGIN</button>
          </a>
        </div>

    </div>
    
  </nav>
