button.edit {
   width: 9.5rem;
   background-color: #0d10d6;
   color:white;
   height:2.5rem;
   border-style: groove;
   outline-color: #0d10d6;
   
}

a.logo {
    color:black;
    text-decoration: none;
    position:absolute;
    top: 1.2rem;
    right: 1.2rem;
}

