
  <!-- As a heading -->
  <nav class="navbar bg-white">
    
    <div class="container-fluid">
        <img src="/assets/image/recipelogo.png" height="55" width = "50" alt="" loading="lazy" />
       
        <div class = "d-flex justify-content-center">
            
        <h1 style="text-align: center;">Group-6 Recipes</h1>
      </div>
   
      <div class = "d-flex align-items-end" style="padding-right: -11rem">
       
        <a class = "nav-item" href = "#" routerLink = "/UserLoginComponent" style="color: black;">
            LOGIN/SIGN UP
          </a>
        </div>

    </div>
    
  </nav>
