
  <!-- As a heading -->
  <nav class="navbar bg-white py-3">
    
    <div class="container-fluid">
        
        <div class = "d-flex justify-content-center">
        
        <a href = "#" routerLinkActive="/HomeLayoutComponent" style = "text-shadow: 2rem;">
          <h1 style="text-align: center; font-family: Rocher; color:black;position:absolute;left: 32.5rem; top: 0.75rem; font-style: italic;">Group-6 Recipes</h1>
        </a>
        
      </div>
   
      <div class = "d-flex align-items-end" style="padding-right: -11rem">
       
        <a class = "nav-item" href = "#" routerLink = "/AddRecipeComponent" style="color: black; margin-right: 2rem">
          <button type="button" class="btn btn-primary">UPLOAD RECIPE</button>
          </a>

        <a class = "nav-item" href = "#" routerLink = "/UserLoginComponent" style="color: black;">
          <button type="button" class="btn btn-primary">LOGIN</button>
          </a>
        </div>

    </div>
    
  </nav>
