<app-top-nav-bar></app-top-nav-bar>
<app-header></app-header>
<div class="container laser">
    <img alt = "" src = "/assets/image/wvulogo.png" class = "images pride">
    <div class="row">
        
        <h1 class = "type--lion">{{rName}}</h1>

        <h3 class = "style-meal">{{rStyle}} {{rMeal}}</h3><br>
       
        <img alt = "" src = "{{rPic}}" class = "images"><br>
        
        <p>Uploaded by: {{user}}</p>
        <p>Prep time: {{prep}}</p>
        <p>Cook time: {{cook}}</p>

        <p class = "desc">{{rDesc}}</p>
       
        
        <h3>Ingredients:</h3><br>
        <p class = "steps">{{rIngred}}</p>

        <h3 >Recipe steps:</h3><br>
        <p class = "steps">{{rSteps}}</p>
        
    </div>
</div>




