<app-top-nav-bar></app-top-nav-bar>
<app-header></app-header>
<div class="container laser">
    <img alt = "" src = "/assets/image/wvulogo.png" class = "images pride">
    <div class="row">
        
        <h1 class = "type--lion">{{rName}}</h1>
        <div *ngIf="recipeNotSaved()">
        <button class = "btn btn-primary" (click) = "saveRecipe()"type = "submit">Save this recipe!</button>
        </div>

        <div *ngIf = "toDelete()">
            <button class = "btn btn-danger" type = "submit" (click) = "deleteRecipe()">
                Unsave recipe
            </button>
        </div>

        <h3 class = "style-meal">{{rStyle}} {{rMeal}}</h3><br>
       
        <img alt = "" src = "{{rPic}}" class = "images"><br>
        <p class = "steps">{{rDesc}}</p>

        <p class = "dark">Prep time: </p><br>
        <p>{{prep}} mins.</p>

        <p class = "dark">Cook time: </p><br>
        <p>{{cook}} mins.</p>
        
        <h3>Ingredients:</h3><br>

        <div *ngFor = "let x of ingredients">
            <ul>
                <li class = "steps">{{x}}</li>
            </ul>
        </div>

        <h3 >Recipe steps:</h3><br>
        <p class = "steps">{{firstHalf}}</p><br>
        <p class = "steps" >{{rSteps.substring(firstHalf.length)}}</p>
        
    </div>
</div>




