<div class = "d-flex bg-img justify-content-center" style = "margin-bottom: -5rem;" >
<div class = "row">
    <h1 class = "my-text">
    Find a recipe!
</h1>
<div class="d-grid gap-2 col-5 mx-auto" style="margin-bottom: 2rem;">
  <a href = "#" routerLink = "/AllRecipes">
  <button class="btn btn-primary"  type="button" style = "width: 7rem;" >ALL RECIPES</button>
  </a>
  
  <a href = "#">
  <button class="btn btn-primary" type="button" style = "width: 7rem;">SAVED RECIPES</button>
  </a>
  
</div>
</div>
</div>
