<div class = "d-flex flex-column justify-content-center w-100 h-150 cool" >
  
    <h2 style="text-align: center;">Enter your recipe details!</h2><br>
        <form id = "method" #postForm = "ngForm" (ngSubmit) = "uploadLiveRecipes(postForm.value, postForm)" class = "design" ngNativeValidate >
    
      <label for="fname">Recipe name:</label><br>
      <input type="text" ngModel minlength="5" ngModel maxlength="30" id="fname" ngModel name = "recipeName" ngModel required><br>
    
      <label for="lname">Recipe photo:</label><br>
      <input type = "url" id="lname"  ngModel name="recipePicture"ngModel required ><br>
    
      <label for="short">Provide your name:</label><br>
      <input  type = "text" id="short" ngModel name = "desc" ngModel required><br>

      <label for="link">Live link:</label><br>
      <input  type = "url" id="link" ngModel name = "style" ngModel required><br>
    
    
    
    <div class="container green">
      <div class="col">
        <input type="submit" class="btn btn-primary"  id="testing" name = "Upload"  ngNativeValidate>
    
        &nbsp;&nbsp;&nbsp;
        <button type="submit"  required class="btn btn-danger"><a  style="color: white; text-decoration: none;" routerLink = "/Home">
         CANCEL
        </a></button>
      </div>
    </div>
    
      
    </form>
    </div>
