.inspect{
    margin-left: 4.0rem;
    margin-top: 1.25rem;
}

.specifics {
    text-align: center; 
    font-weight: 600; 
    margin-top: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}