.specifics {
    text-align: center; 
    font-weight: 600; 
    margin-top: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}

.modd {
    margin-right: 6rem;
}