<app-top-nav-bar></app-top-nav-bar>
<app-header></app-header>
<h2 style = "text-align: center; text-decoration: underline;">ALL RECIPES</h2>


<div class = "container-fluid d-flex flex-wrap" style = "margin-bottom: 5rem; margin-top: 1rem">
    <div *ngFor = "let x of allRecipes" >
        <app-cards recipeIngredients = {{x.ingredients}} recipeSteps = {{x.steps}} desc = {{x.desc}} recipeName = {{x.recipeName}} recipePicture = {{x.recipePicture}}
        category= {{x.category}} theStyle = {{x.style}} route = "/FullRecipeComponent" >
           
        </app-cards>
        
       
    </div>
   

</div>
