h2.design {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    margin-top: 7.25rem;
}

.edit {
    margin-left: 12rem;
    position: absolute;
    top: 67.48rem;
    width: 7rem;
    border-radius: 2rem;
}

.test {
    margin-left: 12.25rem;
    
}
.gold {
    position:absolute;
    top: 4 rem;
}